<html>
<head>
    <title>Arkitekten</title>
</head>
<body>
    <p>Hej och välkommen! Här kan du skapa nya projekt, samt köpa material till projekten. <br />
    Allt du ser här är fasta priser. Så dina projekt och ordrar kommer vara det korrekta priset. <br />
    Du behöver inte oroa dig för att betala för mycket! Priserna på projektet är grundkostnaderna. <br />
    Så beroende på hur mycket material du behöver köpa så kommer kostnaden för projektet att öka!</p>
    <br />
    <br />
</body>
</html>